execution_data_raw.txt
[{"version":1,"startData":"1","resultData":"2","executionData":"3","resumeToken":"4"},{},{"error":"5","runData":"6","lastNodeExecuted":"7"},{"contextData":"8","nodeExecutionStack":"9","metadata":"10","waitingExecution":"11","waitingExecutionSource":"12","runtimeData":"13"},"34b6d775d25d9567fb2c0c2371182c6ad66ca7fc91e20b3c50f875a8957c0939",{"level":"14","tags":"15","description":"16","timestamp":1782707254356,"context":"17","functionality":"18","name":"19","node":"20","messages":"21","message":"22","stack":"23"},{"Telegram Webhook":"24","Schedule Tool":"25","Gemini AI Agent":"26"},"Gemini AI Agent",{},["27"],{"Gemini AI Agent":"28"},{},{},{"version":1,"establishedAt":1782707254320,"source":"29","triggerNode":"30","redaction":"31"},"warning",{},"access to env vars denied",{"itemIndex":0},"configuration-node","NodeOperationError",{"parameters":"32","id":"33","name":"34","type":"35","typeVersion":1,"position":"36"},[],"Error in sub-node Schedule Tool","NodeOperationError: Error in sub-node Schedule Tool\n    at ExecuteContext.getInputConnectionData (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_cf5896492347c4895f0373f4acc773d7/node_modules/n8n-core/src/execution-engine/node-execution-context/utils/get-input-connection-data.ts:542:11)\n    at ExecuteContext.getInputConnectionData (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_cf5896492347c4895f0373f4acc773d7/node_modules/n8n-core/src/execution-engine/node-execution-context/execute-context.ts:192:10)\n    at getConnectedTools (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/@n8n+n8n-nodes-langchain@file+packages+@n8n+nodes-langchain_8f45d63d0fa6ef9edf1be47ccc1eb0ee/node_modules/@n8n/n8n-nodes-langchain/utils/helpers.ts:198:30)\n    at getTools (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/@n8n+n8n-nodes-langchain@file+packages+@n8n+nodes-langchain_8f45d63d0fa6ef9edf1be47ccc1eb0ee/node_modules/@n8n/n8n-nodes-langchain/nodes/agents/Agent/agents/ToolsAgent/common.ts:396:17)\n    at ExecuteContext.toolsAgentExecute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/@n8n+n8n-nodes-langchain@file+packages+@n8n+nodes-langchain_8f45d63d0fa6ef9edf1be47ccc1eb0ee/node_modules/@n8n/n8n-nodes-langchain/nodes/agents/Agent/agents/ToolsAgent/V1/execute.ts:42:16)\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/@n8n+n8n-nodes-langchain@file+packages+@n8n+nodes-langchain_8f45d63d0fa6ef9edf1be47ccc1eb0ee/node_modules/@n8n/n8n-nodes-langchain/nodes/agents/Agent/V1/AgentV1.node.ts:477:11)\n    at WorkflowExecute.executeNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_cf5896492347c4895f0373f4acc773d7/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1053:8)\n    at WorkflowExecute.runNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_cf5896492347c4895f0373f4acc773d7/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1327:11)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_cf5896492347c4895f0373f4acc773d7/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1778:27\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_cf5896492347c4895f0373f4acc773d7/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:2474:11",["37"],["38"],["39"],{"node":"40","data":"41","source":"42"},["43"],"webhook",{"name":"44","type":"45"},{"version":2,"production":false,"manual":false,"source":"46"},{"notice":"47","toolDescription":"47","method":"48","placeholderNotice":"47","url":"49","authentication":"50","sendQuery":false,"sendHeaders":false,"sendBody":false,"placeholderDefinitions":"51","optimizeResponse":false},"72a328cb-7c9c-42b8-b540-90408eede037","Schedule Tool","@n8n/n8n-nodes-langchain.toolHttpRequest",[1680,1040],{"startTime":1782707254346,"executionIndex":0,"source":"52","hints":"53","executionTime":1,"executionStatus":"54","data":"55"},{"startTime":1782707254356,"executionTime":0,"executionIndex":2,"executionStatus":"56","source":"57","error":"58"},{"startTime":1782707254348,"executionIndex":1,"source":"59","hints":"60","executionTime":9,"metadata":"61","executionStatus":"56","error":"62"},{"parameters":"63","id":"64","name":"7","type":"65","typeVersion":1.6,"position":"66"},{"main":"67"},{"main":"59"},{"subRun":"68"},"Telegram Webhook","n8n-nodes-base.webhook","workflow","","POST","={{ $env.NEXT_PUBLIC_SUPABASE_URL }}/rest/v1/schedules","none",{},[],[],"success",{"main":"69"},"error",["70"],{"message":"16","timestamp":1782707254356,"name":"71","context":"72","cause":"49"},["73"],[],{"subRun":"68"},{"level":"14","tags":"15","description":"16","timestamp":1782707254356,"context":"17","functionality":"18","name":"19","node":"20","messages":"21","message":"22","stack":"23"},{"aiAgentStarterCallout":"47","agent":"74","promptType":"75","text":"76","hasOutputParser":false,"options":"77","credentials":"47"},"48748d08-131e-47db-b31d-ab9de168ed8c","@n8n/n8n-nodes-langchain.agent",[1328,848],["78"],["79"],["80"],{"previousNode":"7","previousNodeRun":0},"ExpressionError",{"causeDetailed":"81","runIndex":0,"itemIndex":0,"parameter":"82"},{"previousNode":"44","previousNodeOutput":0,"previousNodeRun":0},"toolsAgent","define","=You are an expert Personal Virtual Assistant. Parse raw messages and manage Bert's database (Finances, Checklist, Schedules) using the connected tools.\n\nRaw Text: {{ $json.body.message.text }}\nChat ID: {{ $json.body.message.chat.id }}",{"systemMessage":"83"},["84"],{"node":"34","runIndex":0},["85"],"If you need access please contact the administrator to remove the environment variable ‘N8N_BLOCK_ENV_ACCESS_IN_NODE‘","url","You are the Intelligence Layer. Parse plain text into financial ledger transactions, calendar events, or checklist tasks. Execute the correct tool for Supabase. Write a friendly, short summary of the exact record updated.",{"json":"86","pairedItem":"87"},{"json":"86","pairedItem":"88"},{"headers":"89","params":"90","query":"91","body":"92","webhookUrl":"93","executionMode":"94"},{"item":0},{"item":0},{"user-agent":"95","content-type":"96","host":"97","content-length":"98","expect":"99","connection":"100","x-forwarded-for":"101","x-forwarded-proto":"102","forwarded":"103"},{},{},{},"http://localhost:5678/webhook/telegram-va-webhook","production","Mozilla/5.0 (Windows NT; Windows NT 10.0; en-PH) WindowsPowerShell/5.1.26100.8737","application/json","76a302c88ff94d.lhr.life","2","100-continue","Keep-Alive","103.60.170.250","https","for=103.60.170.250;proto=https"]